{% extends "layout.html" %}

{% block title %}
    Book Info
{% endblock %}

{% block body %}
    <h1>Book Info</h1>

    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Publication Year: {{ book.year }}</li>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Average Goodreads Score: {{ average_goodreads_rating }}</li>
        <li>Number of Goodreads Reviews: {{ total_goodreads_reviews }}</li>
    </ul>
    <h2>Reviews</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Score</th>
                <th scope="col">Username</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.review_score }}</td>
                    <td>{{ review.username }}</td>
                    <td>{{ review.review_text }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <form action="{{ url_for('book', book_id=book.id) }}" method="post">

        <div class="form-group">
            <label for="review_score">Rate this book</label>
            <select class="form-control" name="review_score" id="review_score">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="review_text">Write a review</label>
            <textarea class="form-control" name="review_text" id="review_text" rows="5"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>
{% endblock %}